.col-md-4
  %h1 NEW ITEM

  - if item.errors.messages.any?
    - item.errors.messages(:name).each do |field,message|
      = field.to_s.humanize + ': ' + messages.join(', ')
      = field + ': ' + message

  = form_for @item do |f|
    .form-group
      = f.label :item_type_id
      = f.select :item_type_id, options_for_select(ItemType.all.collect { |item_type| [item_type.name, item_type.id] }), {}, { class: 'form-control' }
    .form-group
      = f.label :name
     
    

      %br
      = f.text_field :name, class: 'form-control'

    %br
    = f.submit 'Create item', class: 'btn btn-primary'